# Stars: **

### Day 6: Wait For It

#### Part 1

In [1]:
import pandas as pd
from functools import reduce

In [2]:
# read all lines in text file
with open("test_input.txt", "r") as file:
    lines = file.readlines() 
    
# remove newline text from each line
lines = [line.rstrip("\n") for line in lines]

In [3]:
# convert to more usable format
dic = {}
for line in lines:
    split_line = line.split(":")
    name = split_line[0]
    content = split_line[1].split(" ")
    content = [val for val in content if val]
    dic[name] = content

df = pd.DataFrame(dic).reset_index()
df = df.rename(columns={'index': 'Race'})
df["Race"] += 1
df

   Race Time Distance
0     1    7        9
1     2   15       40
2     3   30      200

In [4]:
# Example

# options_7 = {
#     0: 0,   # 0 millimeter per millisecond for 7 milliseconds
#     1: 6,   # 1 millimeter per millisecond for 6 milliseconds
#     2: 10,  # 2 millimeter per millisecond for 5 milliseconds
#     3: 12,  # 3 millimeter per millisecond for 4 milliseconds
#     4: 12,  # 4 millimeter per millisecond for 3 milliseconds
#     5: 10,  # 5 millimeter per millisecond for 2 milliseconds
#     6: 6,   # 6 millimeter per millisecond for 1 milliseconds
#     7: 0    # 7 millimeter per millisecond for 0 milliseconds
# }

In [5]:
WaysToWin = []
for index, row in df.iterrows():

    race = int(row["Race"])
    time_allowed = int(row["Time"])
    record_dist = int(row["Distance"])
    # print(f"Race {race} \nTime allowed = {time_allowed}ms \nRecord distance = {record_dist}mm")

    wins = 0
    for time in range(time_allowed+1):
        ms = time_allowed - time
        dist = time * ms
        # pair = (time, dist)
        # print(f"    {pair} \t(where speed is {time} mm/ms, for {ms} ms)")
        if dist > record_dist:
            wins += 1
        # dists.append(pair)
    
    WaysToWin.append(wins)

df["Ways To Win"] = WaysToWin
df

   Race Time Distance  Ways To Win
0     1    7        9            4
1     2   15       40            8
2     3   30      200            9

In [6]:
reduce(lambda x, y: x*y, WaysToWin)

288

#### Part 2

In [7]:
import re
from tqdm import tqdm

In [8]:
# read all lines in text file
with open("input.txt", "r") as file:
    lines = file.readlines() 
    
# remove newline text from each line
lines = [line.rstrip("\n") for line in lines]
lines

['Time:        59     79     65     75',
 'Distance:   597   1234   1032   1328']

In [9]:
dic = {}
for line in lines:
    split_line = line.split(":")
    name = split_line[0]
    content = split_line[1]
    clean_content = re.sub(r'\s+', '', content)
    dic[name] = clean_content
dic

{'Time': '59796575', 'Distance': '597123410321328'}

In [11]:
race = 1
time_allowed = int(dic["Time"])
record_dist = int(dic["Distance"])
print(f"Race {race} \nTime allowed = {time_allowed}ms \nRecord distance = {record_dist}mm")

wins = 0
for time in tqdm(range(time_allowed+1)):
    ms = time_allowed - time
    dist = time * ms
    if dist > record_dist:
        wins += 1

wins

Race 1
Time allowed = 59796575ms
Record distance = 597123410321328mm

100%|██████████| 59796576/59796576 [00:12<00:00, 4974439.82it/s]

34454850